/* === Глобальные стили и переменные === */
:root {
    --primary-color: #1da1f2;
    --secondary-color: #1991d6;
    --text-color: #333;
    --light-text-color: #888;
    --bg-color: #f4f4f4;
    --light-bg-color: #f9f9f9;
    --border-color: #e6e6e6;
    --font-family: "Lato", sans-serif;
    --font-size: 12px;
    --line-height: 0%;
}

body {
    font-family: var(--font-family);
    background-color: var(--bg-color);
}

/* === Компоненты и их модификации === */

/* Sidebar */
#mySidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #fff;
    overflow-x: hidden;
    transition: 0.5s;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
}

#mySidebar > * {
    transition: opacity 0.2s, visibility 0.2s;
    opacity: 1;
    visibility: visible;
}

#mySidebar:not([style*="300px"]) > * {
    opacity: 0;
    visibility: hidden;
}

.openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: var(--primary-color);
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 35% 0 35% 0;
    margin: 10px;
    position: absolute;
    top: 50%;
    right: -50px;
    transform: rotate(-90deg);
    transform-origin: top left;
    transition: 0.5s;
}

.openbtn:hover {
    background-color: var(--secondary-color);
}

/* User container */
.user-container {
    position: relative;
    margin-top: auto;
    transition: 0.5s;
}

.toggle-btn {
    position: absolute;
    top: -20px;
    left: 50%;
    transform: translateX(-50%);
    width: 106px;
    height: 37px;
    background-color: var(--primary-color);
    border-radius: 0 0 5% 5%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 20px;
    transition: 0.5s;
    opacity: 1;
}

.user-container.closed .toggle-btn {
    opacity: 0;
}

.user-info {
    background-color: var(--light-bg-color);
    padding: 15px;
    border-top: 1px solid var(--border-color);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: relative;
    border-radius: 5px;
    max-height: 200px;
    overflow: hidden;
}

.user-info img {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin-right: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

#username {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 150px;
    display: inline-block;
}

.user-info .tweet-input {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-grow: 1;
}

.user-info textarea {
    margin-top: 10px;
    padding: 5px;
    width: 90%;
    border: 1px solid var(--border-color);
    border-radius: 5px;
    resize: vertical;
    min-height: 50px;
    max-height: 100px;
}

.user-info .tweet-counter {
    font-size: var(--font-size);
    color: var(--light-text-color);
    margin-top: 5px;
}

.user-info button {
    margin-top: 10px;
    padding: 5px 10px;
    color: white;
    background-color: var(--primary-color);
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.user-info button:hover {
    background-color: var(--secondary-color);
}

.user-info.minimized {
    height: 10px;
}

.user-info.minimized .tweet-input,
.user-info.minimized img {
    display: none;
}

/* Notifications */
.notification-bell {
    position: absolute;
    top: 10px;
    left: 10px;
    cursor: pointer;
    background-color: var(--primary-color);
    color: white;
    padding: 5px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
}

.notification-count {
    position: absolute;
    top: -5px;
    right: -5px;
    background-color: red;
    color: white;
    padding: 2px 5px;
    border-radius: 50%;
    font-size: 10px;
}

.notification-panel {
    position: absolute;
    bottom: 40px;
    left: 0;
    right: 0;
    background-color: var(--light-bg-color);
    border: 1px solid var(--border-color);
    border-radius: 5px;
    max-height: 200px;
    overflow-y: auto;
    display: none;
    z-index: 3;
    font-size: var(--font-size);
    width: 100%;
    min-width: 200px;
}

.notification-panel .comment {
    display: flex;
    align-items: center;
    padding: 5px;
    text-decoration: none;
    color: var(--text-color);
}

.notification-panel a {
    display: block;
    padding: 5px;
    text-decoration: none;
    color: var(--text-color);
}

.notification-panel a:hover {
    background-color: #f0f0f0;
}

.notification-panel .comment img {
    border-radius: 50%;
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

.notification-panel .comment:hover {
    background-color: #f0f0f0;
}

.notification-panel .clear-button {
    display: block;
    text-align: center;
    padding: 5px;
    background-color: #f4f4f4;
    border: none;
    cursor: pointer;
    color: var(--light-text-color);
    font-size: var(--font-size);
    text-decoration: underline;
    width: 100%;
}

.notification-panel .clear-button:hover {
    color: #555;
}

/* Blocked Users */
.blocked-users {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    background-color: #f44336;
    color: white;
    padding: 5px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
}

.blocked-users-panel {
    position: absolute;
    bottom: 40px;
    right: 0;
    background-color: var(--light-bg-color);
    border: 1px solid var(--border-color);
    border-radius: 5px;
    max-height: 200px;
    overflow-y: auto;
    display: none;
    z-index: 3;
    font-size: var(--font-size);
    width: 200px;
}

.unblock-user {
    cursor: pointer;
    color: red;
    margin-left: auto;
}

.blocked-user {
    display: flex;
    align-items: center;
    padding: 5px;
    color: var(--text-color);
    max-width: 200px;
}

.blocked-user img {
    border-radius: 50%;
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

.blocked-user:hover {
    background-color: #f0f0f0;
}

.blocked-user span {
    color: #f44336;
    flex-grow: 1;
    text-align: right;
}

.blocked-user span.nickname {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 150px;
    flex-grow: 1;
    color: var(--text-color);
}

/* Tweets */
.tweet-container {
    margin: 10px;
    max-width: 400px;
}

.tweet, .comment, .subcomment {
    border: 1px solid #e6e6e6;
    border-radius: 5px;
    padding: 5px;
    margin: 5px 0;
}

.comments {
    margin-left: 20px;
    display: none;
}

.subcomments {
    margin-left: 40px;
    display: none;
}

.tweet-header, .comment-header, .subcomment-header {
    display: flex;
    align-items: center;
    font-size: var(--font-size);
}

.tweet-header img, .comment-header img, .subcomment-header img {
    border-radius: 50%;
}

.tweet-username, .comment-username, .subcomment-username {
    flex-grow: 1;
    margin-left: 5px;
}

.tweet-time, .comment-time, .subcomment-time,
.tweet-date, .comment-date, .subcomment-date {
    color: var(--light-text-color);
    font-size: var(--font-size);
    margin: 5px 0;
}

.tweet-content, .comment-content, .subcomment-content {
    font-size: 14px;
    margin: 5px 0;
}

.tweet-actions, .comment-actions, .subcomment-actions {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.tweet-time-date, .comment-time-date, .subcomment-time-date {
    display: flex;
    align-items: center;
    margin-right: 10px;
}

.comments, .subcomments {
    display: none;
}

.like-button, .comment-button, .subcomment-button, .edit-button, .delete-button, .blacklist-button, .reply-button {
    cursor: pointer;
    background: none;
    border: none;
    color: #657786;
    font-size: 14px;
    padding: 2px;
    display: flex;
    align-items: center;
    margin-left: 10px;
}

.like-button:hover, .comment-button:hover, .subcomment-button:hover, .edit-button:hover, .delete-button:hover, .blacklist-button:hover, .reply-button:hover  {
    color: var(--primary-color);
}

.like-button.liked i {
    color: #f44336;
}

.like-count, .comment-count, .subcomment-count {
    margin-left: 3px;
}

#load-more-btn {
    background-color: var(--primary-color);
    color: white;
    padding: 3px 1px;
    border: none;
    border-radius: 35% 0 35% 0;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s ease;
    outline: none;
    margin: 10px 0;
    display: block;
    width: 100%;
    text-align: center;
    font-family: var(--font-family);
}

#load-more-btn:hover {
    background-color: var(--secondary-color);
}

/* Styles for reply form */
.reply-input-container {
    display: flex;
    flex-direction: column;
    border: 1px solid #e1e4e8;
    border-radius: 6px;
    padding: 10px;
    margin-top: 10px;
    background-color: #f6f8fa;
}

.reply-textarea {
    border: none;
    border-radius: 4px;
    padding-left: 5px;
    resize: vertical;
    font-size: 14px;
    line-height: 1.5;
    width: 98%;
    min-height: 80px;
}

.reply-actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 8px;
}

.reply-counter {
    font-size: 12px;
    color: #586069;
}

.subcomments .reply-button {
    display: none;
}

#tweets-wrapper {
    overflow-y: auto;
    padding-bottom: 20px;
}

#tweets-wrapper::-webkit-scrollbar {
    width: 8px;
}

#tweets-wrapper::-webkit-scrollbar-thumb {
    background-color: var(--primary-color);
    border-radius: 4px;
}

#tweets-wrapper::-webkit-scrollbar-track {
    background-color: #f1f1f1;
}

/* === Медиа-запросы === */
@media only screen and (max-width: 600px) {
    #mySidebar {
        width: 100%;
    }

    .openbtn {
        right: 0;
    }
}
